<%= form_with(model: track) do |f| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>
      <ul>
        <% track.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  

  <div class="field">
    <%= f.label 'Drag and drop or click to select your file', class: 'label'%>
    <%= f.file_field :track_file, class:'input drag-and-drop-input'%>
  </div>
  <div class="recorder-container">
    <label class="label">Or record the audio from the browser</label>
    <button type="button"  class="button is-dark is-normal" id="toggle">Show Recording Controls</button>

    <div id="recorder-form" style="display:none">
      <hr>
      <button id="btn-start-recording" class="button is-danger">Start Recording</button>
      <button id="btn-stop-recording" class="button is-secondary" disabled>Stop Recording</button>
      <button id="btn-download-recording" class="button is-orange" disabled>Load Recording</button>

      <hr>
      <div><audio controls autoplay playsinline></audio></div>
      <p class="is-size-7 is-italic">Powered by RecordRTC</p>

      <div id="recording-error"></div>
    </div>
  </div>

  <div class="field">
    <%= f.label 'Cover Image', class: 'label' %>
    <%= f.file_field :cover_image, class: 'input' %>
  </div>


  <div class="field">
    <%= f.label 'Title', class: 'label' %>
    <%= f.text_field :title, autofocus: true, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label 'Genre', class: 'label' %>
    <div class="select is-orange">
    <%= f.select :genre, options_for_select(
      [['Alternative Rock', 'Alternative Rock'], 
      ['Ambient', 'Ambient'], ['Classical', 'Classical'], 
      ['Country', 'Country'], ['Dance & EDM', 'Dance & EDM'], 
      ['Dancehall', 'Dancehall'], ['Deep House', 'Deep House'], 
      ['Disco', 'Disco'], ['Drum & Bass', 'Drum & Bass'], 
      ['Dubstep', 'Dubstep'], ['Electronic', 'Electronic'],
      ['Folk & Singer-Songwriter', 'Folk & Singer-Songwriter' ],
      ['Hip-Hop & Rap', 'Hip-Hop & Rap'], ['House', 'House'],
      ['Indie', 'Indie'], ['Jazz & Blues', 'Jazz & Blues'],
      ['Latin', 'Latin'], ['Metal', 'Metal'], ['Piano', 'Piano'],
      ['Pop', 'Pop'], ['R&B & Soul', 'R&B & Soul'], 
      ['Reggae', 'Reggae'], ['Reggaeton', 'Reggaeton'],
      ['Rock', 'Rock'], ['Soundtrack', 'Soundtrack'],
      ['Techno', 'Techno'], ['Trance', 'Trance'], ['Trap', 'Trap'],
      ['Triphop', 'Triphop'], ['World','World']],'Alternative Rock')%>
      </div>
  </div>

  <div class="field">
    <%= f.label 'Description', class: 'label'%>
    <%= f.text_area :description, autofocus: true, class: 'input description-field' %>
  </div>

  <div class="field">
    <%= f.number_field :user_id, value: current_user.id , autofocus: true, class: 'input', type: :hidden %>
  </div>

  <div class="actions">
    <%= f.submit 'Create', class:'button is-orange btn-create-track' %>
  </div>
<% end %>
<%= javascript_pack_tag 'recorder'%>