<div class="columns">
  <div class="column is-8 is-offset-2 edit-form">
    <h2 class="is-size-2">Edit your profile </h2>
    <hr/>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="columns">
        <div class="column is-4">
          <% if resource.avatar.attached? %>
            <%= image_tag resource.avatar, class: 'profile-photo' %>
          <% else %>
            <%= image_tag "pfp.jpg", class: "profile-photo" %>
          <% end %>
          <div class="file edit-profile-pic">
            <label class="file-label">
              <%= f.file_field :avatar, accept: 'image/png,image/jpg,image/jpeg', class: 'file-input' %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </label>
          </div>
        </div>
        <div class="column">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">First Name<i class="field-requiered" >*</i></label>
                <div class="control">
                  <%= f.text_field :first_name, autofocus: true, class: 'input'%>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Last Name<i class="field-requiered" >*</i></label>
                <div class="control">
                  <%= f.text_field :last_name, autofocus: true, class: 'input' %>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Display Name</label>
            <div class="control">
              <%= f.text_field :display_name, autofocus: true, class: 'input' %>
            </div>
          </div>
          <div class="field">
            <label class="label">Profile URL<i class="field-requiered" >*</i></label>
            <div class="control">
               <%= f.text_field :profile_id, autofocus: true, class: 'input' %>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">City</label>
                <div class="control">
                  <%= f.text_field :city, autofocus: true, class: 'input' %>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Country</label>
                <div class="control">
                  <%= f.text_field :country, autofocus: true, class: 'input' %>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Bio</label>
            <div class="control">
              <%= f.text_area :bio, autofocus: true, class: 'input bio-field' %>
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
            </div>
          </div>
        </div>
      </div>
    <div class="columns">
      <div class="column is-6">
        <label class="label">Enter your password to update your profile</label>
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
        <div class="edit-profile-actions">
          <%= f.submit "Update", class: 'button is-orange'%>
          <%= link_to 'Cancel', profile_path(current_user.profile_id), class: 'button' %>
        </div>
      </div>
    </div>
    

<% end %>


  </div>
</div>












