<nav class="navbar is-dark">
	<div class="navbar-brand">
		<a href="/">
      <%= image_tag "logo.png", class: 'logo' %>
    </a>
		<div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="navbarExampleTransparentExample" class="navbar-menu">
		<div class="navbar-end">
			<% if user_signed_in? %>
            <%= link_to 'Upload', new_track_path, class: 'navbar-item' %>
            <%= link_to 'Profile', profile_path(current_user.profile_id), class: 'navbar-item' %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
        <% else %>
            <%= link_to 'Register', new_user_registration_path, class: 'navbar-item' %>
            <%= link_to 'Sign in', new_user_session_path, class: 'navbar-item' %>
        <% end %>
		</div>
	</div>
</nav>

