<% @user.tracks.each do |track|%>
  <div class="columns">
    <div class="column">
      <%= image_tag track.cover_image, class: 'cover-image' %>
    </div>
  
    <div class="column is-four-fifths">
      <% if @user.display_name.nil?%>
        <label class="track-artist"><%= "#{@user.first_name} #{@user.last_name}"%></label>
      <% else %>
        <label class="track-artist"><%= @user.display_name%></label>
      <% end %>
      <br>
      <%= link_to(track_path(track.id)) do %>
        <label class="track-title is-size-3"><%= track.title%></label>
      <% end %><br>
      <label class="track-genre"><%= track.genre%></label>
      <% if !(current_user.nil?) && current_user.id == track.user.id%>
        <%= link_to(track_path(track.id), method: :delete) do %>
          <i class="fas fa-trash-alt button is-size-7"></i>
        <% end %>
       <% end %>

    </div>
  </div>

    <div class="column is-full">
      <%= audio_tag url_for(track.track_file), controls: true, preload: "none" %>
    </div>

<% end %>

