<header class="profile-header">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: 'profile-photo' %>
  <% else %>
    <%= image_tag "pfp.jpg", class: "profile-photo" %>
  <% end %>
  <div class="profile-name">
    <p class="is-size-3 display-name"><%= @user.display_name%></p>
    <p class="is-size-6 display-name"><%= "#{@user.first_name} #{@user.last_name}"%></p>
  </div>

  <%= link_to (edit_user_registration_path) do %>
    <p class="button"><i class="fas fa-pencil-alt edit-button"></i>Edit Profile</p>
<% end %>
</header>
<div class="columns tracks-stats-container">
  <div class="column is-three-fifths">
    <h2 class="is-size-3">Tracks</h2>
    <% if @user.tracks_count.zero? %>
      <p>Seems a little quiet over here.</p>
      <%= link_to 'Upload', new_track_path, class: 'button is-orange' %>
    <% else %>
      <%= render 'profile/user_tracks', locals: {user: @user}%>
    <% end %>
  </div>
  <div class="column">
    <i class="fas fa-globe"></i><label class="icon-label is-size-5">Profile URL</label><br>
    <p><%= profile_url(@user.profile_id)%></p><br>
    <div class="columns">
      <div class="column">
        <i class="fas fa-map-marker-alt"></i><label class="icon-label is-size-5">City</label><br>
        <%= @user.city %>
      </div>
      <div class="column">
        <i class="fas fa-flag"></i><label class="icon-label is-size-5">Country</label> <br>
        <%= @user.country %>
      </div>
    </div>

    <div class="bio-container">
      <label class="is-size-5">Bio</label><br>
      <%= @user.bio %><br>
    </div>

    <div class="columns">
      <div class="column">
        <label class="is-size-5">Followers</label><br>
        <%= @user.followers_count %>
      </div>
      <div class="column">
        <label class="is-size-5">Following</label><br>
        <%= @user.following_count %>
      </div>
      <div class="column">
        <label class="is-size-5">Tracks</label><br>
        <%= @user.tracks_count %>
      </div>
      <div class="column">
        <label class="is-size-5">Likes</label><br>
        <%= find_likes_per_user(@user.id) %>
      </div>
    </div>
    
    
    
    
    
    
  </div>
</div>



 

