<h2>Your profile</h2>
<%# <%= @user.profile_picture %>
<label>Display Name:</label><br>
<%= @user.display_name%>
<br><label>Bio</label><br>
<%= @user.bio %>
<br><label>Followers</label><br>
<%= @user.followers %>
<br><label>Following</label><br>
<%= @user.following %>
<br><label>Tracks</label><br>
<%= @user.tracks %>

